/* Above 300px */

html {
    background: #e5e2df;
    background-image: url(../images/Background.png);
    background-repeat: repeat-x;
}

body {
    background-color: transparent;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #444;
}

#main {
    position: relative;
    width: 550px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    /*drop shadow*/
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .25);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .25);

    /*rounded corners*/
    background-color: #ffffff;
    border-width: 5px;
    border-color: #bfbbb7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    padding-bottom: 5px;
}

#BYU{
    background-image:url(../images/BYUBar.png);
    background-repeat: no-repeat;
    width: 305px;
    height: 15px;
}

#error {
	margin: 10px 13px;
	background: #FEF5F1;
	background-image: url(../images/error.png);
	color: #8C2E0B;
	border: solid 1px #ED541D;
	background-repeat: no-repeat;
	padding: 10px 40px;
	background-position: 2%;
}

#main h1 {
    color: #114477;
    font-size: 31px;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 25px;
    height: 31px;
}

#main form {
    height: auto;
}

#inputarea {
    margin-left: 50px;
    width: 220px;
}

#main h2 {
    color: #FFF;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 36px;
    padding-bottom: 10px;
    text-shadow: 0px -1px 0px #000; /* FF3.5+, Opera 9+, Saf1+, Chrome */

    moz-border-radius-topleft: 5px;
    moz-border-radius-topright: 5px;
    moz-border-radius-bottomright: 0px;
    moz-border-radius-bottomleft: 0px;
    webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

    background: #003366; /* Old browsers */
    background: -moz-linear-gradient(top, #003366 0%, #002255 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003366), color-stop(100%, #002255)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #003366 0%, #002255 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #003366 0%, #002255 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #003366 0%, #002255 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#003366', endColorstr = '#002255', GradientType = 0); /* IE6-9 */
    background: linear-gradient(top, #003366 0%, #002255 100%); /* W3C */
}

fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
}

input {
    height: 16px;
    width: 188px;
}

input[type=checkbox] {
    width: 16px;
}

label {
    font-size: 14px;
}

.row{
	margin-bottom: 20px;
}

#warngroup{
	margin-bottom: 10px;
}

#clear{
	position: relative;
	top: 7px;
	left: 15px;
}

.submit {
    background: url(../images/SignIn.png) no-repeat;
    height: 36px;
    width: 121px;
    border: none;
}

#forgot {
    position: absolute;
    left: 280px;
    top: 160px;
}

#create {
    position: absolute;
    left: 280px;
    top: 185px;
}

a:link {
    color: #336699;
    text-decoration: underline;
}

a:active {
    color: #336699;
    text-decoration: underline;
}

a:visited {
    color: #336699;
    text-decoration: underline;
}

a:hover {
    color: #336699;
    text-decoration: none;
}

#security {
    position: relative;
    padding: 5px;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #D3D0CD;
    margin: 0 auto;
    width: 528px;
}

#security p {
    text-shadow: 0px 1px 0px #fff; /* FF3.5+, Opera 9+, Saf1+, Chrome */
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 20px;
}

#security p strong {
    color: #003366;
}

#lock {
    position: absolute;
    top: 15px;
    left: 15px;
    background: url(../images/Lock.png) no-repeat;
    width: 30px;
    height: 40px;
}

#powered-by {
    position: relative;
    margin: 0 auto;
    width: auto;
	font-size: 10px;
	text-align: center;
}

#powered-by p {
	text-shadow: 0px 1px 0px #fff; /* FF3.5+, Opera 9+, Saf1+, Chrome */
	padding-left: 47px;
	padding-right: 20px;
}

#powered-by p strong {
	color: #003366;
}

#spacer{
    height:15px;
}
