#header-top{
  height: 38px;
}

#search-container {
  position: absolute;
  top: 6px;
  right: 0;
}

#search-container form {
  display: inline;
}

body {
  background:none;
}

.info, .errors, .success, .msg{clear:both; margin:18px 10px; padding:20px 20px 20px 20px; font-size:1.0em; line-height:1.5;}
.info {border:1px dotted #025; background:#e0edf9; color:#444;}
.errors {border:1px dotted #901; background:#fed; color:#444; padding-bottom: 40px;}
.success {border:1px dotted #E80; background:#FFC; color:#444;}
#content .errors h3, #content .success h3 {font-family:Georgia,"Times New Roman",Times,serif; font-size:1.3em; line-height:48px; font-weight:400; margin:0 18px 0 0; padding:0;}
#content .info h3 {color: #444 !important;}
#content .errors h3 {color:#444 !important;}
#content .success h3 {color:#444 !important;}
